<!DOCTYPE html>
<html>
<body>

<h2>AirOver Flight Search Engine</h2>

<form action = "/result" method="POST">
  <label for="origin">Origin:</label><br>
  <input type="text" id="origin" name="origin" value="SFO"><br>
  <label for="destination">Destination:</label><br>
  <input type="text" id="destination" name="destination" value="LIS"><br>
  <label for="departure date">Departure Date:</label><br>
  <input type="text" id="departureDate" name = departDate value="25/08/2022"><br>
  <label for="Layover Duration">Layover Duration:</label><br>
  <input type="text" id="layoverDuration" name = layoverDuration value = "2"><br><br>
  <input type="submit" value="search" name="search" />
</form>

</body>
</html>